[Desktop Entry]
StartupNotify=true
StartupWMClass=pyguibot
Name=PyGUIBot (GUI-tests)
Categories=Application;TCOS;
Exec=/opt/pyguibot/controllers/qt_gui.py --path /opt/gui-tests/
